Options -MultiViews
RewriteEngine On

# Exclure l'URL /login de la réécriture
RewriteCond %{REQUEST_URI} !^/login

# Si la requête ne correspond pas à un fichier ou un dossier existant, rediriger vers index.html
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.html [L]
